@{
    ViewBag.Title = "Contact";
}

<div style="margin-top: 5em">
<a><img class="img-thumbnail" src="http://placegoat.com/1000/1000" style="width: 1000px; height: 1000px;"></a>
</div>


<address>
    <strong>Github:</strong>   <a href="https://github.com/TheRavingViking/Webshop">https://github.com/TheRavingViking/Webshop</a><br />
    </address>