
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sjoerd's Webshop</h1>
    <p class="lead">Webshop made for C# course II.</p>
    <p><a href="https://github.com/TheRavingViking/Webshop" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p> All products in this webshop can be found here. </p>
        <p><input type="button" class="btn btn-default" value="Products" onclick="location.href='@Url.Action("Index", "Products")'" /></p>
    </div>
    <div class="col-md-4">
        <h2>Cart</h2>
        <p>All items in cart are found here.
        </p>
        <p><input type="button" class="btn btn-default" value="Cart" onclick="location.href='@Url.Action("Index", "ShoppingCart")'" /></p>
       
    </div>
    
    <div class="col-md-4">
        <h2>Order</h2>
        <p>Order can be found here.
        </p>
        <p><input type="button" class="btn btn-default" value="Orders" onclick="location.href='@Url.Action("Index", "Orders")'" /></p>
       
    </div>


</div>